@font-face {
  font-family: 'super';
  src: url('font/supermarket.ttf');
}

.navbar {
	font-family: 'super';
    margin-bottom: 0;
}

.li-border{
		border-right: 1px solid rgba(0,0,0,.1);
		box-shadow: 1px 0 0 rgba(255,255,255,.25);
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:20px !important; 
    padding-bottom:0 !important;
    height: 60px;
}

.navbar-default .navbar-nav > .active{
   color: #000;
   background:#7AC5CD;
 }
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background: #7AC5CD;
 }

.navbar {min-height:60px !important;}

#nav ul li:hover a{ 
     color:red;
}
.nav > li > a:hover{
    background-color:#FCC;
}