
	
<br>
<div  style="width:100%;background-color:#FF8C00">
	<br><br>
	<div class="text-center">
		
		<a class="hvr-buzz" href="https://web.facebook.com/profile.php?id=100004836528025" target="_blank" data-toggle="tooltip" data-placement="top" title="facebook" style="margin-left:15px"><img src="resource/img/facebook.png" width="100%"></a>
		
		<a class="hvr-pulse" href="https://github.com/tirmizee" target="_blank"  data-toggle="tooltip" data-placement="top" title="github" style="margin-left:15px"><img src="resource/img/github-256.png" width="100%"></a>
		
		<a class="hvr-wobble-vertical" href="https://www.instagram.com/tirmizee/" target="_blank"  data-toggle="tooltip" data-placement="top" title="instagram" style="margin-left:15px"><img src="resource/img/instagram.png" width="100%"></a>	

		<a class="hvr-wobble-vertical"  data-toggle="tooltip" data-placement="top" title="..."  style="margin-left:15px"><img src="resource/img/administrator.png" width="100%"></a>
	</div>
	<br>
	<div class="text-center">
		<img src="resource/img/hmail.png" width="60px"><label style="font-size:20px;" class="hvr-float-shadow">zee_pratya@hotmail.com</label>
	</div>
	<hr class="style-two">
	<div class="text-center">
		<font style=";font-size:17px">tirmizee.github.io 2017 </font>
	</div>
	<br>
	<div class="text-center">
		<a href="https://www.freecounterstat.com" title="free counter"><img src="https://counter10.fcs.ovh/private/freecounterstat.php?c=fq19ym9wg1cf177gq21q3fd52ad82trs" border="0" title="free counter" alt="free counter"></a>
	</div>
	<br>
</div>
