
<div style="margin-bottom: 0 !important;">
	<nav class="navbar navbar-default navbar-static-top" >
	  <div class="container-fluid " style="font-size:18px">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand li-border" href="#"><center><img src="resource/img/logo.png" style="max-width:190px;height:70px; margin-top: -24px;"></center></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      <li class="li-border active"><a href="#" class="text-center"><label>หน้าหลัก</label></a></li>
	       
	        <li  class="li-border"><a href="#" class="text-center"><label>ข่าวสาร</label></a></li>
	        <li class="li-border dropdown" id="li_menu">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><label>บทความ</label><span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li id="li_menu1"><a href="#">ffsd</a></li>
	            <li id="li_menu2"><a href="#">Another action</a></li>
	            <li id="li_menu3"><a href="#">Something else here</a></li>
	            <li id="li_menu4" role="separator" class="divider"></li>
	            <li id="li_menu5"><a href="#">Separated link</a></li>
	            <li id="li_menu6" role="separator" class="divider"></li>
	            <li id="li_menu7"><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Option <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">color</a></li>
	            <li role="separator" class="divider"></li>
	             <li><a href="#"><div>Red</div></a></li>
	             <li><a href="#"><div>Red</div></a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	
</div>